body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 47px 60px;

}


.container{
    background-color: #161616;
    display: flex;
    color: white;
     height: 646px;;
border-radius: 30px;

}
.header{
    width: 531px;
    margin-top: 90px;
    margin-left: 105px;
    margin-bottom: 20px;
}

.header h1{
    
color: #FFF;
font-size: 70px;
font-weight: 700;

}
.header p{
    color: #FFF;
font-size: 16px;
font-weight: 400;
width: 530px;
}
.banner-image img{
    width: 581px;
height: 613px;
margin-top: 33px;
margin-right: 79px;
}

.button-watch{
    margin-top: 40px;
}

.button-watch a{
  
    color: #FFF;
    border-radius: 5px;
background: #D00;
padding: 16px 25px;
text-decoration: none;
font-weight: 400;
font-size: 16px;
} 

.main-display{
    width: 90%;
    margin-left: 30px;
    margin-bottom: 130px;
    margin-top: 100px;
   
}

.match-times{
    display: flex;
}
.upcoming-match{
    width: 312px;
   height: 312px;
    background: #121212;
    border-radius: 10px;
 
    
}

.match-page{
    display: flex;
    flex-direction: column;
 width: 240px;
  height: 252px;
  align-items: center;
  padding: 25px;
   
}
.btn{
    width: 240px;
    height: 100%;
    padding: 20px 25px;
    margin: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
}

.btn a{
    color: #0b0b0b;
font-size: 18px;
font-weight: 500;
text-decoration: none;
}
#btn-up-match{
    background-color: #DD0000;
    color: white;
}

#btn-up-match a{
    color: white;
}

/*========  Match Detials Started===========*/

.all-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15px;
    gap: 15px;
}




.times{
    border-radius: 10px;
border: 1px solid #E8E8E8;
background: #FFF;
width: 312px;;
height: 242px;
}
.time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;

}
.flag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.vs{
    margin-left: 20px;
    margin-right: 21px;
    color: #161616;
text-align: center;
font-size: 16px;
font-weight: 700;
}

.germany{
    color: #161616;
text-align: center;
font-size: 20px;
font-weight: 600;
}
.april{
    color: #4D4D4D;
text-align: center;
font-size: 16px;
font-weight: 400;
}

/* ======Footer section started =====*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    background: #161616;
    margin: 0px;
    padding: 0cm;

}
.goal{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.goal h1{
    color: white;
    font-size: 40px;
font-weight: 600;
margin-top: 130px;
}
.footer hr{
    background: rgba(255, 255, 255, 0.10);
    width: 90%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer-links{
    width: 900px;
    /* font-size: 16px;
    font-weight: 500; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
} 
.footer-links a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #B9B9B9;
}
    


